
/*Header*/

#header {
    width:100%; height:180px;
    background:linear-gradient(to right,#C9A0DC, white);
    position:relative;
}
/*Button of the menu */

#button{
    color:white;
    display:inline-block;
    width:120px;padding:10px;
    text-decoration:none; text-align:center;
    position:relative;
    margin:10px;
}

#button:before,
#button:after{
    content:''; position:absolute;width:20px;height:3px;
    background-color:inherit;
}
#button:before{
    left:0;
    top:-5px;
}
#button:after{
    right:0;
    bottom:-5px;
}

#button:hover{
    background-color:white;color:#C9A0DC;
    display:inline-block;
    width:120px;padding:10px;
    text-decoration:none; text-align:center;
    position:relative;
    margin:10px;
}

/*Icones header*/

.one{
    right:20px;
}
/*Contenu*/
/*
#contenu img{
    width:75%; height:300px;
}



 */
/*Footer*/
#footer{
    width:100%; height:120px;background-color:darkgrey;
    position:relative; bottom:0;
}