
/*Header*/
/*
#header {
    width:100%; height:150px;
    background-color:#C9A0DC;
}

/*Img in the header */
/*
.one {

}
.two{

}
.three{

}

/*Contenu*/
/*
#contenu img{
    width:75%; height:300px;
}
/*Footer*/
/*
#div footer{
    width:100%; height:120px;
    background-color:
}

#footer{
    width:100%; height:120px;background-color:darkgrey;
}