
/*Header*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

#burger-menu{
  display: block;
}

.burger-bar{
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: red;
}

#logo {
  height: 75px;
}

#list-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  background-color: ;
}

.list-element {
  height: 100%;
}

.list-button {
  height: 100%;
  padding: 1em;
  background-color: red;
}

#profil-pic {
  height: 50px;
}

#main_content {

}