
/*Header*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

@media only screen and (max-width: 800px) {
  #list-container {
    display: none;
  }
  #burger-menu {
    display: block;
  }
}

@media (min-width: 800px) {
  #list-container {
    display: flex;
  }
  #burger-menu {
    display: none;
  }
}

.burger-bar{
  height: 3px;
  width: 25px;
  margin: 5px;
  background-color: red;
}

#logo {
  height: 75px;
}

#list-container {
  flex-direction: row;
  list-style: none;
  height: 100%;
  background-color: ;
}

.list-element {
  height: 100%;
}

.list-button {
  height: 100%;
  padding: 1em;
  background-color: red;
}

#profil-pic {
  height: 50px;
}

#main_content {

}