body {
  overflow: hidden;
}

a{
  text-decoration: none;
  color: white;
}
/*Header*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 1em;
  font-size: 1.5em;
}

/*media for responsiveness*/

@media only screen and (max-width: 900px) {
  #list-container {
    display: none;
  }
  #burger-menu {
    display: block;
  }
  .burger-bar {
    background-color: white;
  }
  
  body {
    background: url("../assets/man.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #logo {
    content:url("../assets/logowhite.png");
  }

  #profil-pic {
    content:url("../assets/panierwhite.png")
  }
}

@media (min-width: 900px) {
  #list-container {
    display: flex;
  }
  #burger-menu {
    display: none;
  }

  .burger-bar {
    background-color: black;
  }

  body {
    background: url("../assets/watch.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #logo {
    content:url("../assets/logowhite.png");
  }

  #profil-pic {
    content:url("../assets/panierwhite.png")
  }
}

/*burger Menu animation*/

#burger-menu div:first-child
{
  transform-origin: 0% 0%;
}

#burger-menu div:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#burger-menu input:checked ~ ul
{
  transform: none;
}

#burger-menu input:checked ~ div
{
  opacity: 1;
  transform: translate(0, 8px) rotate(45deg);
  background: #232323;
}

#burger-menu input:checked ~ div:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#burger-menu input:checked ~ div:nth-last-child(2)
{
  transform: translate(6px, 1px) rotate(-45deg);
}

/*Burger Menu Style*/

#burger-menu {
  z-index: 1;
}

input {
  position: absolute;
  width: 27px; height: 22px;
  z-index: 2;
  opacity: 0;
}

.burger-bar {
  height: 3px;
  width: 25px;
  margin: 5px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#fold-menu {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -2em;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#logo {
  height: 50px;
}

#list-container {
  flex-direction: row;
  list-style: none;
  height: 100%;
}

.list-element {
  height: 100%;
}

.list-button {
  height: 100%;
  padding: 1em;
}

#profil-pic {
  height: 40px;
}

.grid-wrap {
    padding: 1%;
}

.list-block {
    float: left;
    margin: 1%;
    width: 31.33333%;
    font-size: 0;
    overflow: hidden;
}
.list-block figure {
    position: relative;
    display: block;
    color: black;
    text-align: center;
}
.list-block figure:after {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transform: skew(-45deg) scaleX(0);
    -ms-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.list-block figure:hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    -ms-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.list-block figure:hover figcaption h2,
.list-block figure:hover figcaption p {
    -moz-transform: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.list-block figure:hover figcaption h2 {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.list-block figure:hover figcaption p {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
.list-block img {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    max-width: 100%;
    min-width: 100%;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.list-block figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.list-block h2,
.list-block p {
    margin: 0;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.list-block h2 {
    padding: 0 30px 10px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
}
.list-block p {
    padding: 0 50px;
    font-size: 14px;
    text-transform: uppercase;
}

.demo-2 figure figcaption p {
    margin-top: -45px;
}
.demo-2 figure:after {
    -webkit-transform: skew(-45deg) scaleX(0);
    -ms-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
}
.demo-2 figure:hover:after {
    -webkit-transform: skew(45deg) scaleX(1);
    -ms-transform: skew(45deg) scaleX(1);
    transform: skew(45deg) scaleX(1);
}
.demo-2 figure:hover figcaption p {
    margin-top: 0;
}

.demo-3 figure figcaption {
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
}
.demo-3 figure figcaption h2,
.demo-3 figure figcaption p {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.demo-3 figure:after {
    -webkit-transform: skew(0deg) scaleX(1);
    -ms-transform: skew(0deg) scaleX(1);
    transform: skew(0deg) scaleX(1);
}
.demo-3 figure:hover:after {
    -webkit-transform: skew(45deg) scaleX(0);
    -ms-transform: skew(45deg) scaleX(0);
    transform: skew(45deg) scaleX(0);
}
.demo-3 figure:hover figcaption {
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.demo-3 figure:hover img {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.demo-3 figure img {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*----page styles---*/
* {
    box-sizing: border-box;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    font-family: 'Playfair Display';
}

body {
    background: black;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Playfair Display';
}

h1 {
    color: white;
    padding: 4%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
h1 small {
    font-size: 18px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 5px;
}

.made-with-love {
    margin-top: 30px;
    padding: 10px;
    font-size: 10px;
    font-family: arial;
    clear: left;
    text-align: center;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}
